* {
  box-sizing: border-box;
}

body {
  background: url('http://i.imgur.com/Ytm8vON.jpg');
}


.container {
  width: 620px;
  height: 515px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;
  margin-top: 15%;
  min-margin-top: 400px;
  border: yellow solid;
  background: transparent;
  overflow: hidden;
  display: none;
}

.flex-container {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: none;
  margin-bottom: none;
}

div {
  margin: 3px;
  border-radius: 10px;
}

.flex-container div {
  display: block;

  margin-left: 1%;
  margin-right: 1%;
  border: solid yellow;
  min-width: 50px;
  width: 75px;
  height: 75px;
  flex: 1;
}
# .square {

#   border: solid yellow 50px;
# }

img {
  height: 6%;
  width: auto;
  min-width: 50px;
  border-radius: 5px;
  margin: auto;
  padding-left: 40%;
  padding-right: 40%;
}

.empty {

}

.player1 {

}

.player2 {

}